<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.tk244.cmcustdb.Repository.AccountMapper">
 
    <select id="findAllAccount" resultType="com.tk244.cmcustdb.entity.Account">
        SELECT
         * 
        FROM account
    </select>

    <select id="findAccount" resultType="com.tk244.cmcustdb.entity.Account">
        SELECT
         * 
        FROM account
        WHERE cust_id = #{custId}
    </select>

</mapper>